body{
	font-family: 'whitrabt';
	src: url('https://millopempaques.com/font/whitrabt.ttf');
}

.bg-gray{
	background-color: #F5F5F5;
}

.bg-orange{
	background-color: #f05938;
}

.bg-blue-dark{
	background-color: #3c487c;
}

.bg-blue-light{
	background-color: #0194d6;
}

.bg-brown-dark{
	background-color: #552d2e;
}

.bg-brown-light{
	background-color: #b07c53;
}

.bg-blue{
	background-color: #2B3FB5;
}

.sombreado{
	filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

.parallax{
	/* Set a specific height */
  	height: 100%;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.encabezado{
	/*backdrop-filter: blur(5px);*/
	backdrop-filter: brightness(50%);
}

.blur{
	backdrop-filter: blur(5px);
}

#logo{
	filter: brightness(120%) drop-shadow(0px 0px 1px white);
}

#banner_principal{
	background-image: url(https://millopempaques.com/img/cajas-de-carton-Puebla-principal.webp);

	height: 720px;
	/*Centrar hijo*/
}

#contenedor_banner{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#empaques{
	background-image: url(https://millopempaques.com/img/cajas-de-carton-Puebla-seccion.webp);
}

#impresion{
	background-image: url(https://millopempaques.com/img/disenos-de-carton-fondo.webp);	
}

#contacto{
	background-image: url(https://millopempaques.com/img/contact_smartphone_min.webp);
}

#mapa{
	max-width: 600px;
}